html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;


    /* TO DELETE */
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

//Disable all margins and paddings
* {
    padding: 0;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.5rem;


}

/* Track */
::-webkit-scrollbar-track {
    background: hsla(132, 61%, 77%, 0);

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-body);
    border-radius: 0.5rem;
    opacity: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsla(257, 11%, 88%, 0.8);
    width: 3rem;

}



li,
a,
ul,
img,
button {
    text-decoration: none;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: black;
}

//MIXINS (functions) for scss

@mixin centerContainersGrid {
    display: grid;
    place-content: center;

}

@mixin spaceBetweenFlexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@mixin spaceBetweenFlexCol {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;

}

@mixin flexCol {
    display: flex;
    flex-direction: column;

}


@mixin fullScreenCenter {
    @include centerContainersGrid();
    width: 100vw;
    height: 100vh;
}

@mixin placeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}



:root {

    /* Colors */   
    /* Paragraph font size */
    /* Fonts */
    // font-family: 'Inter', sans-serif;
    // font-family: 'Karla', sans-serif;
    /* Borders used */
    --border-radius-main: 10px;

    --padding-desktop: 1rem 3rem;

}
$padding: 1rem 4rem;

.header {
    background: linear-gradient(90deg, #dc6e14 1.18%, #26d3ca 100%);
    display: flex;
    justify-content: space-between;
    padding: $padding;
    place-items: center;
    color: white;
    cursor: context-menu;

    &__left {
        display: flex;
        gap: .5rem;
    }

    &__logo {
    }

    &__title {
        font-weight: 700;
        font-size: 20.75px;
        line-height: 24px;
        letter-spacing: -0.1em;
    }

    &__right {
       
    }

    &__menu {
        font-family: 'Karla', sans-serif;
        font-weight: 500;
        font-size: 12px;
    }

}

